@using PizzaLib;
@using PizzaWebApp.Controllers;
@{
    ViewData["Title"] = "MainMenu";
}



<h1>Welcome back @(UserController.SessionStorage.username)</h1>
<p>What will it be today?</p>
<b>
    <br />1: <a href="@Url.Action("OrderUp","Pizza")">Place an Order</a>
    <br />2: <a href="@Url.Action("UserOrders","Order")">View Order History</a>
    <br />3: <a href="@Url.Action("Index","Store")">View Store Locations</a>
    <br />4: <a href="@Url.Action("Index","Home")">Signout</a>
    <br />5: <a href="@Url.Action("Clearance","Order")">View Store Orders</a> (Admin)
</b>

